<div class="sidebar px-4 py-4 py-md-4 me-0 bg-success">
    <div class="d-flex flex-column h-100">
        <a href="/admin" class="mb-0 brand-icon">
                    <span class="logo-icon">
                        <i class="bi bi-bag-check-fill fs-4"></i>
                    </span>
            <span class="logo-text">GECKO</span>
        </a>
        <!-- Menu: main ul -->
        <ul class="menu-list flex-grow-1 mt-3">
            <li><a class="m-link active" href="/admin"><i class="icofont-home fs-5"></i> <span>Dashboard</span></a></li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-product" href="/admin/product">
                    <i class="icofont-truck-loaded fs-5"></i> <span>Products</span> </a>
                <!-- Menu: Sub menu ul -->
            </li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#categories" href="/admin/category/1">
                    <i class="icofont-chart-flow fs-5"></i> <span>Categories</span> </a>
                <!-- Menu: Sub menu ul -->
            </li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#menu-order" href="/admin/order">
                    <i class="icofont-notepad fs-5"></i> <span>Orders</span> </a>
                <!-- Menu: Sub menu ul -->
            </li>
            <li class="collapsed">
                <a class="m-link" data-bs-toggle="collapse" data-bs-target="#customers-info" href="/admin/customer/1">
                    <i class="icofont-funky-man fs-5"></i> <span>Customers</span> </a>
                <!-- Menu: Sub menu ul -->
            </li>
        </ul>
        <div class="d-flex justify-content-center align-content-center">
            <a href="/logout">Log out</a>
        </div>
    </div>
</div>
