
<!-- Jquery Core Js -->
<script src="../../../../../../../Web/babbaba/pixelwibes.com/template/ebazar/html/dist/assets/bundles/libscripts.bundle.js"></script>

<!-- Plugin Js -->
<script src="../../../../../../../Web/babbaba/pixelwibes.com/template/ebazar/html/dist/assets/bundles/apexcharts.bundle.js"></script>
<script src="../../../../../../../Web/babbaba/pixelwibes.com/template/ebazar/html/dist/assets/bundles/dataTables.bundle.js"></script>

<!-- Jquery Page Js -->
<script src="../../../../../../../Web/babbaba/pixelwibes.com/template/ebazar/html/js/template.js"></script>
<script src="../../../../../../../Web/babbaba/pixelwibes.com/template/ebazar/html/js/page/index.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1Jr7axGGkwvHRnNfoOzoVRFV3yOPHJEU&amp;callback=myMap"></script>
