<div class="banner">

    <div class="main-banner">

        <div class="item">

            <img src="images/banner1.jpg" alt="Gecko">

            <div class="banner-detail">

                <div class="container">

                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-12"></div>

                        <div class="col-md-6 col-sm-6 col-xs-12 center-xs">

                            <div class="banner-detail-inner">

                                <span class="slogan">NEW COLLECTION</span>

                                <h1 class="banner-title">Home Appliance</h1>

                                <span class="sub-title hidden-sm">Lorem ipsum dolor sit amet. It has ipsum survived not only irosum .</span><br>

                                <a href="/shop" class="btn btn-color big-width">Shop Now</a>

                            </div>

                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>


</div>
