<section class="">
    <div class="container">
        <hr>
        <div class="row brand">
            <div class="col-md-12">
                <div id="brand-logo" class="owl-carousel align_center">
                    <div class="item"><a><img th:src="@{/images/brand1.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand2.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand3.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand4.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand5.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand6.jpg}" alt="#"></a></div>
                    <div class="item"><a><img th:src="@{/images/brand7.jpg}" alt="#"></a></div>
                </div>
            </div>
        </div>
    </div>
</section>