<section class="mt-20">

    <div class="container">

        <div class="sub-banner-block center-xs">

            <div class="row mlr_-20">

                <div class="col-sm-4 plr-20">

                    <div class="sub-banner sub-banner1">

                        <a href="/shop"> <img src="images/sub-banner1.jpg" alt="Gecko"></a>

                        <div class="sub-banner-detail">

                            <div class="sub-banner-type">Crock-Pot</div>

                            <!--  <button></button> -->

                            <a href="/shop" class="btn btn-color small">buy now</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4 plr-20">

                    <div class="sub-banner sub-banner2">

                        <a href="/shop"> <img src="images/sub-banner2.jpg" alt="Gecko"></a>

                        <div class="sub-banner-detail">

                            <div class="sub-banner-type">Blenders & Juicers</div>

                            <!-- <button></button> -->

                            <a href="/shop" class="btn btn-color small">sale now</a>

                        </div>

                    </div>

                </div>

                <div class="col-sm-4 plr-20">

                    <div class="sub-banner sub-banner3">

                        <a href="/shop"> <img src="images/sub-banner3.jpg" alt="Gecko"></a>

                        <div class="sub-banner-detail">

                            <div class="sub-banner-type">Coffee Maker</div>

                            <!-- <button></button> -->

                            <a href="/shop" class="btn btn-color small">hot style</a>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>