<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<th:block th:insert="layout/admin-head"></th:block>
<body>
<th:block th:insert="layout/admin-header.html"></th:block>
<div>
    <div class="row justify-content-center align-items-center">
        <div class="modal-content w-50 bg-white shadow p-3 rounded">
            <div class="modal-header">
                <h5 class="modal-title fw-bold" id="expaddLabel">Add Category</h5>
            </div>
            <div class="modal-body">
                <div class="deadline-form">
                    <form action="/admin/category/create" method="post" th:object="${category}">
                        <div class="row g-3 mb-3">
                                <label for="item" class="form-label">Category Name</label>
                                <input type="text" th:field="*{categoryName}" class="form-control" id="item">
                        </div>
                        <div class="row g-3 mb-3">
                            <label for="depone" class="form-label">description</label>
                            <input type="text" th:field="*{description}" class="form-control" id="depone">
                        </div>
                        <div class="modal-footer">
                            <a href="/admin/category"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button></a>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>